@{
    @model API.Usage.Demo.Classes.UKNewsResponse
    var results = Model.UKNews ?? Enumerable.Empty<API.Usage.Demo.Classes.UKNewsItem>();
    ViewData["Title"] = "UK News";
    Layout = "~/Views/Shared/_LayoutNoHeader.cshtml";   
}

<div class="row align-items-start">
    <div class="col-sm-4" style="padding:0px">
        <div style="width: 100%; display: flex; justify-content: center;">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    @{
                        var isFirst = true;
                        foreach (var item in results.OrderByDescending(w => string.IsNullOrEmpty(w.ImageURL) == false))
                        {
                            if (isFirst)
                            {
                                <div class="carousel-item active">
                                    @if (string.IsNullOrEmpty(item.ImageURL) == false && API.Usage.Demo.Classes.URLHelper.IsValidUrl(item.ImageURL))
                                    {
                                        <img src="@item.ImageURL" class="d-block w-100" style="min-height: 260px; max-height:260px; object-fit: fill">
                                    }
                                    else
                                    {
                                        <img src="~/img/UKNews.png" class="d-block w-100" style="min-height: 260px; max-height:260px; object-fit: fill">
                                    }
                                    <div class="carousel-caption">
                                        <div class="h6 title-bg title m-0">@item.Title</div>
                                        @if (string.IsNullOrEmpty(item.Description) == false)
                                        {
                                            <div style="padding-top:5px">
                                                <p class="description">@string.Concat(item.Description.Take(150).ToArray())</p>
                                            </div>
                                        }
                                        <div style="padding-top:5px">
                                            <a href="@item.Link" class="btn-sm btn-success" target="_blank">Open article</a>
                                        </div>
                                    </div>
                                </div>
                                isFirst = false;
                            }
                            else
                            {
                                <div class="carousel-item">
                                    @if (string.IsNullOrEmpty(item.ImageURL) == false && API.Usage.Demo.Classes.URLHelper.IsValidUrl(item.ImageURL))
                                    {
                                        <img src="@item.ImageURL" class="d-block w-100" style="min-height: 260px; max-height:260px; object-fit: fill">
                                    }
                                    else
                                    {
                                        <img src="~/img/UKNews.png" class="d-block w-100" style="min-height: 260px; max-height:260px; object-fit: fill">
                                    }
                                    <div class="carousel-caption">
                                        <div class="h6 title-bg title m-0">@item.Title</div>
                                        @if (string.IsNullOrEmpty(item.Description) == false)
                                        {
                                            <div style="padding-top:5px">
                                                <p class="description">@string.Concat(item.Description.Take(150).ToArray())</p>
                                            </div>
                                        }
                                        <div style="padding-top:5px">
                                            <a href="@item.Link" class="btn-sm btn-success" target="_blank">Open article</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>
